In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,f1_score,accuracy_score
%matplotlib inline
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [33]:
dictionary1 = {'setosa':1,'versicolor':2,'virginica':3}
X = df.iloc[:,0:4]
Y = df.iloc[:,4]

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0, test_size = 0.3)

In [34]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
60            5.0          2.0           3.5          1.0
116           6.5          3.0           5.5          1.8
144           6.7          3.3           5.7          2.5
119           6.0          2.2           5.0          1.5
108           6.7          2.5           5.8          1.8
..            ...          ...           ...          ...
9             4.9          3.1           1.5          0.1
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2

[105 rows x 4 columns]

In [35]:
sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)
classifier = KNeighborsClassifier(n_neighbors=5,metric='euclidean')
classifier.fit(X_train,Y_train)

KNeighborsClassifier(metric='euclidean')

In [36]:
Y_pred = classifier.predict(X_test)
cm = confusion_matrix(Y_test,Y_pred)
cm

array([[16,  0,  0],
       [ 0, 17,  1],
       [ 0,  0, 11]], dtype=int64)

In [37]:
print(accuracy_score(Y_test,Y_pred))
X_train

0.9777777777777777

     sepal_length  sepal_width  petal_length  petal_width
60            5.0          2.0           3.5          1.0
116           6.5          3.0           5.5          1.8
144           6.7          3.3           5.7          2.5
119           6.0          2.2           5.0          1.5
108           6.7          2.5           5.8          1.8
..            ...          ...           ...          ...
9             4.9          3.1           1.5          0.1
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2

[105 rows x 4 columns]

sample = np.array([6.7,3.0,5.2,2.3])

In [44]:
sample = np.array([[8.1,8.5,7.4,0.2]])
#sample = sample.reshape(-1,1)
sample

array([[8.1, 8.5, 7.4, 0.2]])

In [110]:
#sample2 = sc.fit_transform(sample)

In [45]:

classifier.predict(sample)

array(['virginica'], dtype=object)